/*==============================================================================================================================================
----------------------------------------------------------------------default styles
================================================================================================================================================*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation-button {
	padding: 11px 15px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;

	background-color: rgb(255, 107, 10);
	border: 0;
	border-radius: 12px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: ease-in-out 250ms;
}
.navigation-button:hover {
	background-color: hsl(16, 88%, 30%);
}

.buttons-position {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin: 24px 0;
}
fieldset {
	margin: 0;
	display: flex;
	justify-content: space-around;
}
/*==============================================================================================================================================
---------------------------------------------------------------------/default styles
================================================================================================================================================*/
.time-counter {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	max-width: 235px;
	gap: 15px;
}
#datetime-picker {
	max-width: 180px;
}
[data-start] {
	width: 50px;
}
.input-wrapper {
	display: flex;
	justify-content: space-between;
}
.timer {
	display: flex;
	justify-content: space-between;
}
.value {
	margin: 0 auto;
	display: block;
	width: max-content;
	font-weight: 400;
	font-size: x-large;
}

.form {
	width: max-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
input[name="delay"] {
	width: 100%;
	margin-top: 4px;
}
